.header{
    align-items: center;
    background-color: var(--azul);
    padding: 2rem ;
    display: flex;
    justify-content: space-between;
}

.header_titulo{
    color: var(--amarelo);
    font-size: 2rem;
    font-weight: 800;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_info_imagem{
    background-color: var(--branco);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: .75rem;
}

.header_info_saudacao{
    font-size: .75rem;
    margin-top: .75rem;
}